@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --columns-count: 12;
    width: 100%;
}

.container{
    padding: 120px 105px;
    max-width: 1440px;

}

.content__wrapper{
    display: flex;
    max-width: 1230px;
    flex-direction: column;
    margin: 0 auto;
}


.title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    font-style: normal;
}

hr {
    margin: 20px auto 80px;
    height: 4px;
    width: 100px;
    border: none;
    background-color: #F5BD41;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column{
    text-align: center;
    width:25%;
}

div.column:not(:last-child){
    margin-right:16px ;
}

.img{
    height: 100px;
    width: 100px;


}

.icon-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-top: 50px;

}

.footer-background{
    background-color: #10367C;


}
.footer-column{
    width: 33.3%;
    flex-grow: 1;
}
ul {
    font-family: "Roboto" , sans-serif;
    list-style: none;
    font-size: 20px;
    color: #ffffff;


}

ul.footer-about>li{
    padding-bottom: 24px;

}

.footer-2020{
    font-family: "Roboto" , sans-serif;
    padding-top: 64px;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 400;

}

@media only screen and (max-width: 1024px) {
    .col-s-1 {
        width: calc(100% / var(--columns-count) * 1);
    }

    .col-s-2 {
        width: calc(100% / var(--columns-count) * 2);
    }

    .col-s-3 {
        width: calc(100% / var(--columns-count) * 3);
    }

    .col-s-4 {
        width: calc(100% / var(--columns-count) * 4);
    }

    .col-s-5 {
        width: calc(100% / var(--columns-count) * 5);
    }

    .col-s-6 {
        width: calc(100% / var(--columns-count) * 6);
    }

    .col-s-7 {
        width: calc(100% / var(--columns-count) * 7);
    }

    .col-s-8 {
        width: calc(100% / var(--columns-count) * 8);
    }

    .col-s-9 {
        width: calc(100% / var(--columns-count) * 9);
    }

    .col-s-10 {
        width: calc(100% / var(--columns-count) * 10);
    }

    .col-s-11 {
        width: calc(100% / var(--columns-count) * 11);
    }

    .col-s-12 {
        width: calc(100% / var(--columns-count) * 12);
    }
}




@media only screen and (max-width: 768px) {
    .col-s-1 {
        width: calc(100% / var(--columns-count) * 1);
    }

    .col-s-2 {
        width: calc(100% / var(--columns-count) * 2);
    }

    .col-s-3 {
        width: calc(100% / var(--columns-count) * 3);
    }

    .col-s-4 {
        width: calc(100% / var(--columns-count) * 4);
    }

    .col-s-5 {
        width: calc(100% / var(--columns-count) * 5);
    }

    .col-s-6 {
        width: calc(100% / var(--columns-count) * 6);
    }

    .col-s-7 {
        width: calc(100% / var(--columns-count) * 7);
    }

    .col-s-8 {
        width: calc(100% / var(--columns-count) * 8);
    }

    .col-s-9 {
        width: calc(100% / var(--columns-count) * 9);
    }

    .col-s-10 {
        width: calc(100% / var(--columns-count) * 10);
    }

    .col-s-11 {
        width: calc(100% / var(--columns-count) * 11);
    }

    .col-s-12 {
        width: calc(100% / var(--columns-count) * 12);
    }
}




@media only screen and (max-width: 360px) {
    .col-s-1 {
        width: calc(100% / var(--columns-count) * 1);
    }

    .col-s-2 {
        width: calc(100% / var(--columns-count) * 2);
    }

    .col-s-3 {
        width: calc(100% / var(--columns-count) * 3);
    }

    .col-s-4 {
        width: calc(100% / var(--columns-count) * 4);
    }

    .col-s-5 {
        width: calc(100% / var(--columns-count) * 5);
    }

    .col-s-6 {
        width: calc(100% / var(--columns-count) * 6);
    }

    .col-s-7 {
        width: calc(100% / var(--columns-count) * 7);
    }

    .col-s-8 {
        width: calc(100% / var(--columns-count) * 8);
    }

    .col-s-9 {
        width: calc(100% / var(--columns-count) * 9);
    }

    .col-s-10 {
        width: calc(100% / var(--columns-count) * 10);
    }

    .col-s-11 {
        width: calc(100% / var(--columns-count) * 11);
    }

    .col-s-12 {
        width: calc(100% / var(--columns-count) * 12);
    }
}





